extends ../layout

block content
  a(href="/") Back
  br

  h1 #{book.title}
  p Author: #{book.author}
  p Price: 
    strong #{book.price}
  p 
    a.btn(href=`/payment-info?bookId=${book.id}`) Buy
  img(src=book.img, alt="")
